.navBar {text-align: center;
		color: green;
		font-size: 20px;
		font-family: verdana;
	}
.pictures {
	display:  block;
	text-align: center;
	text-align: center
}
.motto { text-align: center;
		color: red;
		display: bold;
}
.people {text-align: center;
		color: purple;}
.storeType {text-align: center;
			color: blue;}